/*Mobile*/
@media only screen and (max-width: 600px){
    background {
        background-attachment: fixed;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .box {
        display: block;
        border-radius: 50px;
        font-size: 100%;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .header {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .item3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .item4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .item5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .item6 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .item7 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 10;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 10;
        grid-row-end: 11;
        color: white;
        background-color: #ff6200;
        text-align: center;
        height: 50px;
    }
}
/*Tablet*/
@media only screen and (min-width: 601px){
    .grid-container {
        display: grid;
        grid-column: 1fr 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr 1fr;
    }
    .box {
        display: block;
        border-radius: 5px;
        font-size: 100%;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .header {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .item2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .item3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item4 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .item5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .item6 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .item7 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end:  8;
        background-color: #ff6200;
        text-align: center;
        height: 50px;
    }
}
/*Desktop*/
@media only screen and (min-width: 786px){
    .grid-container {
        display: grid;
        grid-template-columns: 60px 1fr 1fr 60px;
        grid-template-rows: 120px 80px 120px 1fr 1fr 1fr 1fr;
    }
    .box {
        display: block;
        border-radius: 5px;
        font-size: 100%;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .header {
        height: 100px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item1 img {
        width: 500px;
        height: 300px;
    }
    .item1 p {
        text-align: center;
    }
    .item2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .item2 img {
        width: 500px;
        height: 300px;
    }
    .item2 p {
        text-align: center;
    }
    .item3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .item3 img {
        width: 500px;
        height: 300px;
    }
    .item3 p {
        text-align: center;
    }
    .item4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .item4 img {
        width: 500px;
        height: 300px;
    }
    .item4 p {
        text-align: center;
    }
    .item5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .item5 img {
        width: 500px;
        height: 300px;
    }
    .item5 p {
        text-align: center;
    }
    .item6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .item6 img {
        width: 500px;
        height: 300px;
    }
    .item6 p {
        text-align: center;
    }
    .item7 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .item7 img {
        width: 500px;
        height: 300px;
    }
    .item7 p {
        text-align: center;
    }
    .item8 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .item8 img {
        width: 500px;
        height: 300px;
    }
    .item8 p {
        text-align: center;
    }
    .item9 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .item9 img {
        width: 500px;
        height: 300px;
    }
    .item9 p {
        text-align: center;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
        color: white;
        background-color: #ff6200;
        text-align: center;
    }
}